
<meta charset="UTF-8" />
<!-- Configuración básica de codificación -->
<meta http-equiv="X_UA_Compatible" content="IE=edge" />
<!-- Asegura la compatibilidad con Internet Explorer -->
<meta name="index" content="width=device-width, initial-scale=1.0" />
<!-- Configuración de la vista para dispositivos móviles -->
<link rel="stylesheet" href="css/style.css" />
<!-- Enlace al archivo CSS personalizado -->
<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.2/css/pico.min.css" />
<!-- Enlace a la hoja de estilos de Pico CSS -->
<title>Calendario</title>
<!-- Título de la página -->